.App {
  width: inherit;
  display: block;
}
/*CUSTOM WRAPPER*/
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body {
  background: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.row {
  display: flex;
}

.container-button {
  justify-content: flex-end;
  display: flex;
  margin: 20px;
}

.container-stocks {
  margin: 20px;
  flex: 80%;
}

@media screen and (min-width: 1200px) {
  .container-stock {
    margin-bottom: 20px;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .container-stock {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}

.container-exchanges {
  flex: 20%;
  margin: 20px;
}

.container-exchange {
  margin-bottom: 20px;
  display: block;
}

.container-exchange-title {
  display: inline-block;
  padding: 5px;
  background-color: #979797;
  color: black;
  font-weight: bold;
  position: relative;  /* For tooltip*/
}

.my-table {
  padding: 10px;
}

tr.bottom-border td{
  border-bottom: solid 1px #979797;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.stats {
  flex: 100%;
  margin: 10px;
}

.table-stats {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}


.border {
  border: solid 1px #979797;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}


/*BOTONES*/
.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: black;
}

.button1:hover {
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

@media all and (max-width:30em){
  .button1{
    display:block;
    margin:0.4em auto;
  }
}

.bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
}
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

/*TOOLTIP: INFO WHEN HOVER*/
.container-exchange-title .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.container-exchange-title:hover .tooltiptext {
  visibility: visible;
}


.container1 {
  display: block;
  background-color: red;
  padding: 2px;
}

.div1 {
  display: inline-block;
  background-color: green!important;
}

@media screen and (min-width: 1200px) {
  .div1 {
    display: inline-block;
    background-color: green!important;
  }
}

@media screen and (max-width: 1199px) {
  .div1 {
    display: block;
    background-color: green!important;
  }
}

